body {
  padding: 2rem;
  background-color: black;
  color: white;
}

main {
  padding: 2rem;
}

form input {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

form button {
  background-color: darkorange;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin: 0 1rem;
}

.todo {
  color: white;
}
.todo.strike {
  color: darkorange;
  text-decoration: line-through;
}

button {
  font-size: inherit;
}

.deletebutton {
  background-color: darkorange;
  color: white;
  border-radius: 5px;
  margin-left: 1rem;
}

li {
  margin: 1rem;
}

.addnote {
  background-color: darkorange;
  color: white;
}

input {
  border-radius: 5px;
}

h1 {
  font-family: "Acme", sans-serif;
  font-size: 2.5rem;
}
