.appstyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: lightgrey;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-style: dotted;
  border-color: purple;
}

.even {
  background-color: skyblue;
}

.odd {
  background-color: lightgoldenrodyellow;
}
