* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightpink;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: lightgray;
  text-align: center;
}

h1 {
  color: purple;
  font-size: 3rem;
}

button {
  background-color: lightgrey;
  color: purple;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-family: "Amatic SC", cursive;
  padding: 0.5rem;
  font-size: 1.5rem;
}
